audio
.controls-buttons
    button(data-button='prev')
    button(data-button='play')
    button(data-button='next')
    button(data-button='shuffle')
input(type='range', value=0).controls-timeline
a.controls-title(href='#')