controls-bg = #f2f2f2
controls-height = 45px

.controls
    position fixed
    bottom 0
    left 0
    right 0
    padding 0 20px
    border-top 1px solid #cecece
    background controls-bg
    transform translate(0, 0)
    transition .2s
    z-index 1
    // &.init
    //     transform translate(0, 100px)

    > *
        display inline-block
        vertical-align middle

    // .controls-buttons
    &-buttons
        margin 0
        line-height 0

    button
        width 40px
        height controls-height
        line-height 0
        padding 0
        margin 0
        border 0
        background no-repeat 50% 50%
        opacity .8
        transition .2s
        cursor pointer
        &:hover
        &:focus
            opacity .9
        &:acive
            opacity 1

    [data-button=prev]
        background-image getImage('prev')
    [data-button=play]
        background-image getImage('play')
        .playing&
            background-image getImage('pause')
    [data-button=next]
        background-image getImage('next')
    [data-button=shuffle]
        background-image getImage('shuffle')

    // .controls-timeline
    &-timeline
        width calc(100% - 700px)

    // .controls-title
    &-title
        line-height controls-height
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        font-weight bold
        text-decoration none
        color text-color

    @media small
        width 100%
        right 0

        // .controls-title
        &-title
            width calc(100% - 90px)

@require slider