audioBg = hsl(0, 0, 60%)

// I'm using Chrome
audio::-webkit-media-controls
    align-items flex-start

    // audio::-webkit-media-controls-enclosure
    &-enclosure
        max-width 100%
        text-align left

    // audio::-webkit-media-controls-panel
    &-panel
        border-radius 0
        background audioBg

    // audio::-webkit-media-controls-play-button
    &-play-button
    // audio::-webkit-media-controls-timeline
    &-timeline
    // audio::-webkit-media-controls-mute-button
    &-mute-button
    // audio::-webkit-media-controls-volume-slider
    &-volume-slider
        cursor pointer

.controls
    position fixed
    bottom 0
    left 0
    right 0
    transform translate(0, 0)
    padding-bottom 7px
    border-top 1px solid #666
    background audioBg
    transition .2s
    z-index 1
    &.init
        transform translate(0, 100px)

    button
        display inline-block
        width 30px
        margin-right 5px
        &:first-of-type
            margin-left 15px

    // .controls-title
    &-title
        display inline-block
        vertical-align bottom
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        font-weight bold
        text-decoration none
        color text-color
        color white

    @media small
        width 100%
        right 0

        // .controls-title
        &-title
            width calc(100% - 90px)