doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title GHETTO SOUNDCLOUD
        link(rel='stylesheet', href='index.css')
    body
        form
            input(value='https://soundcloud.com/calvein/sets/mixtapes')
        .controls(hidden)
            button.prev <<
            button.play.pause >
            b.title
            button.next >>
        ul
        if env === 'dev'
            script(src='http://127.0.0.1:35729/livereload.js')
        script(src='app.js')