.tracks
    padding-bottom 50px
    &.sorting
        .track
            transition 0

.track
    position relative
    display block
    height 100px
    margin 10px 0
    opacity 1
    transform translate(0, 0)
    transition .2s
    // When track is selected
    &.active
        font-style italic

        .rect-overlay
            fill-opacity 0
    // When track is showing, need to put the default values on the elemnts
    &.showing
        opacity 0
        transform translate(0, 40px)

        .track-image
            opacity 0
            transform translate(-20px, 0)

        figcaption
        .track-links
            opacity 0
            transform translate(0, 20px)


    // When track is hidden (filtered out)
    &.hidden
    // When track is deleted
    &.delete
        // Height transition is wonky :(
        height 0
        margin 0
        opacity 0
        transform translate(-500px) scale(.8)
        transform-origin 100% 50%
        transition-delay 0 !important
    &.sortable-ghost
        opacity .6

    // Your screen is too big if you can see more than 10 tracks
    for i in (1..10)
        & + :nth-child(n + {i})
            transition-delay .03s * i

    // .track-image
    &-image
    figcaption
    // .track-links
    &-links
        transform scale(1)
        opacity 1
        transition .2s .2s

    trackImageSize = 100px
    // .track-image
    &-image
        position absolute
        width trackImageSize
        margin-right 4px
        border 1px solid #ccc
        box-shadow 0 0 0 1px #eee

    figcaption
        padding-left trackImageSize + 10

    // .track-play
    &-play
    // .track-details
    &-details
        display inline-block
        vertical-align top

    // .track-play
    &-play
        width 40px
        height @width
        border-radius 50%
        margin-right 10px
        font-size 24px
        cursor pointer
        &:before
            content '>'
        .playing &:before
            content '||'

    // .track-details
    &-details
        width calc(100% - 80px)
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

        // .track-details-user
        &-user
            display block
            color #999
            font-size 14px

        // .track-details-title
        &-title
            font-weight bold
            color text-color

        a
            text-decoration none
            &:hover
                text-decoration underline

    // .track-links
    &-links
        position absolute
        top 0
        right 0

    // .track-waveform
    &-waveform
        height 60px
        cursor pointer
        opacity 0
        transition .2s
        &.drawn
            opacity 1

        path
            fill #ddd
            fill black

        .rect-background
            fill #ddd

        .rect-buffered
            fill #aaa

        .rect-hovered
            fill lighten(#bada55, 30%)
            transition .3s
            &.hidden
                opacity 0

        .rect-played
            fill #bada55

        .rect-overlay
            fill #fafafa
            fill-opacity .5
            transition .4s

    @media small
        trackImageSize = 80px
        // .track-image
        &-image
            width trackImageSize
            height @width

        figcaption
            padding-left trackImageSize + 10

        // .track-play
        &-play
            width 30px
            height @width
            font-size 18px

        // .track-details
        &-details
            width calc(100% - 70px)