.track
    position relative
    display block
    margin 10px 0
    transition .2s
    &.active
        font-style italic

        .rect-overlay
            fill-opacity 0
    &.hidden
        display none

    // .track-image
    &-image
        position absolute
        width 100px
        height @width
        margin-right 4px
        border 1px solid #ccc
        border-radius 4px
        box-shadow 0 0 4px rgba(black, .2)

    figcaption
        padding-left 105px

    // .track-play
    &-play
    // .track-details
    &-details
        display inline-block
        vertical-align top

    // .track-play
    &-play
        width  40px
        height 40px
        border-radius 50%
        margin-right 10px
        font-size 24px
        cursor pointer
        &:before
            content '>'
        .playing &:before
            content '||'

    // .track-details
    &-details
        // .track-details-user
        &-user
            display block
            color #999
            font-size 14px

        // .track-details-title
        &-title
            font-weight bold
            color text-color

        a
            text-decoration none
            &:hover
                text-decoration underline

    // .track-links
    &-links
        position absolute
        top 0
        right 0

        a
            color text-color
            text-decoration none
            font-size 24px

    // .track-waveform
    &-waveform
        height 60px
        cursor pointer

        path
            fill #ddd
            fill black

        .rect-background
            fill #ddd

        .rect-buffered
            fill #aaa

        .rect-hovered
            fill lighten(#bada55, 30%)
            transition .3s
            &.hidden
                opacity 0

        .rect-played
            fill #bada55

        .rect-overlay
            fill #fff
            fill-opacity .5
            transition .4s
