.track
    position relative
    display block
    margin 10px 0
    &.active
        font-style italic

    img
    figcaption
        display inline-block
        vertical-align top

    img
        width 100px
        height @width
        margin-right 4px
        border 1px solid #ccc
        border-radius 4px
        box-shadow 0 0 4px rgba(black, .2)

    span
        display block
        color #999
        font-size 14px

    // .track-play
    &-play
    // .track-details
    &-details
        display inline-block
        vertical-align top

    // .track-play
    &-play
        width  40px
        height 40px
        border-radius 50%
        margin-right 10px
        font-size 24px
        cursor pointer
        &:before
            content '>'
        &.playing:before
            content '||'

    // .track-delete
    &-delete
        position absolute
        top 0
        right 0
        font-size 24px
        color black
        text-decoration none