for track in tracks
    li(data-id=track.id).track: figure
        img(src=track.getImage())
        figcaption
            button.track-play
            .track-details
                a.track-details-user(href=track.getUrl('user'))= track.getUsername()
                a.track-details-title(href=track.getUrl())= track.get('title')
        a(href='#').track-delete ×
