// Colors
text-color = #333
orange = #ff5500
orange-dark = #ff3300

// Images
play = 'PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMTRsMS44NDYxNTAwMDAwMDAwNzk3LTctMS44NDYxNTAwMDAwMDAwNzk3LTcgOCA3LTggN3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4='
pause = 'PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUgMHYxMmgzdi0xMmgtM3ptLTUgMHYxMmgzdi0xMmgtM3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4='

// MQs
small = '(max-width: 800px)'
