if user
    a(href='#', data-dropdown)= user.get('name')
    .dropdown
        label Private mode
            input(type='checkbox', data-private)
        a(href='#', data-disconnect) Disconnect
else
    a(href=connectUrl).lastfm-connect last.fm