input
    display block
    padding 5px
    margin 5px 0
    border 1px solid #ccc
    border-radius 4px
    font-size 22px

.playlists-form
    input
        width 100%

.filter-form
    input
        width 50%
        margin-left auto
        margin-right auto