form
    text-align center

input
    padding 5px
    margin 5px 0
    border 1px solid #ccc
    border-radius 4px
    font-size 22px

.playlists-form
    input
        width calc(100% - 24px)
        margin-right 10px


.filter-form
    input
        width 50%
        margin-left auto
        margin-right auto