/* Variables */
small = '(max-width: 800px)'
text-color = #333
orange = #ff5500
orange-dark = #ff3300
play = 'PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMTRsMS44NDYxNTAwMDAwMDAwNzk3LTctMS44NDYxNTAwMDAwMDAwNzk3LTcgOCA3LTggN3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4='
pause = 'PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUgMHYxMmgzdi0xMmgtM3ptLTUgMHYxMmgzdi0xMmgtM3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4='

/* Resets */
*, *:before, *:after
    box-sizing border-box

ul
figure
    padding 0
    margin 0

/* Style */
html
body
    height 100%

body
    max-width 1200px
    width 80%
    margin 0 auto
    overflow-y scroll
    background #fafafa
    font-family sans-serif
    color text-color
    &.loading
        &
        *
            cursor wait !important

    @media small
        width 100%
        padding 0 20px

.github-link
    position absolute
    top -10px
    left @top
    border solid transparent
    border-width 0 0 40px 40px
    border-left-color text-color
    text-decoration none
    color white
    transition .2s
    &:before
        content '✎'
        position absolute
        top -3px
        left -41px
        font-size 24px
    &:hover
        top 0
        left @top


[data-link]
    color text-color
    text-decoration none
    font-size 24px

@require 'app/components/lastfm'
@require 'app/components/forms'
@require 'app/components/controls'
@require 'app/components/tracks'