doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title GHETTO SOUNDCLOUD
        link(rel='stylesheet', href='index.css')
        if env === 'dev'
            script(src='http://127.0.0.1:35729/livereload.js')
    body
        .lastfm
        .forms
        .controls
        ul.tracks
        - var suffix = 'js'
        if env !== 'dev'
            - suffix = 'min.' + suffix
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.' + suffix)
        script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.' + suffix)
        script(src='app.js')