/* Variables */
small = '(max-width: 800px)'
text-color = #333

/* Resets */
*, *:before, *:after
    box-sizing border-box

ul
figure
    padding 0
    margin 0

/* Style */
html
body
    height 100%

body
    max-width 1200px
    width 80%
    margin 0 auto
    overflow-y scroll
    background #fafafa
    font-family sans-serif
    color text-color
    &.loading
        &
        *
            cursor wait !important

    @media small
        width 100%
        padding 0 20px

[data-link]
    color text-color
    text-decoration none
    font-size 24px

@require 'app/components/forms'
@require 'app/components/controls'
@require 'app/components/tracks'