doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title ♫ S O U N D C L O U D ♪ P L A Y L  I S T ♫
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400')
        link(rel='stylesheet', href='index.css')
        if env === 'dev'
            script.
                var lrScript = '<script src="//' + location.hostname + ':' +
                               '!{ portLr }/livereload.js?snipver=1"><\/script>'
                document.write(lrScript)
    body
        a.github-link(
            href='https://github.com/Calvein/soundcloud-playlist/'
            title='See github project'
        )
        .forms
        .lastfm
        .controls.init
        ul.tracks
        - var suffix = 'js'
        if env !== 'dev'
            - suffix = 'min.' + suffix
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.' + suffix)
        script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.' + suffix)
        script(src='app.js')